xml1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jobList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comp1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="companyname"/>
              <xs:element type="xs:string" name="jobtitle"/>
              <xs:element type="xs:string" name="stipend"/>
              <xs:element type="xs:string" name="duration"/>
              <xs:element type="xs:string" name="location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comp2">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="companyname"/>
              <xs:element type="xs:string" name="jobtitle"/>
              <xs:element type="xs:string" name="stipend"/>
              <xs:element type="xs:string" name="duration"/>
              <xs:element type="xs:string" name="location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comp3">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="companyname"/>
              <xs:element type="xs:string" name="jobtitle"/>
              <xs:element type="xs:string" name="stipend"/>
              <xs:element type="xs:string" name="duration"/>
              <xs:element type="xs:string" name="location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>